body {
  background-color: #e6e6e6;
}

#wrapper {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  padding-top: 15px;
}

#userInput {
  margin: 5px;
}

h1 {
  border: 1px solid black;
  width: 40%;
  margin: 0 auto;
}

form {
  padding: .8em;
}
